fastapi
uvicorn
pyyaml
langchain
python-dotenv
motor
langchain-openai
langchain-core
langchain-community
pymongo
# lark
pydantic
urllib3
langchain-pinecone
pinecone-notebooks
pinecone-client
langchain-google-genai
# textblob
# openpyxl
# https://cognizant.udemy.com/course/chatgpt-and-langchain-the-complete-developers-masterclass/learn/lecture/40261208?start=0#overview